/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Jul, 2014, 12:01:11 PM
    Author     : liqmac
*/

.headerSpace
{
    padding-top: 5%;
}

.gameIcon
{
    width:60%;
    //padding-left:25%;    
        
}