<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966129114231-1ghi0jjb8r46cqigttso0g30i1loo0cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966129114231-1ghi0jjb8r46cqigttso0g30i1loo0cm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966129114231-55rnue0aorpe06no98ocoei6kkbjqmbr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAa9HPdaQWXdneV7rPjklHQPhVZnZYCMog</string>
	<key>GCM_SENDER_ID</key>
	<string>966129114231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liqvid.wileyturkey</string>
	<key>PROJECT_ID</key>
	<string>emp-test-199a5</string>
	<key>STORAGE_BUCKET</key>
	<string>emp-test-199a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:966129114231:ios:10453984de75dd125aba72</string>
	<key>DATABASE_URL</key>
	<string>https://emp-test-199a5.firebaseio.com</string>
</dict>
</plist>
